.git
.gitignore
.dockerignore
**/.docker_venv
**/.venv
**/__pycache__
**/.idea
**/.vscode
**/.cache
**/.env
**/.envs
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/staticfiles
**/htmlcov
.coverage
**/build
**/dist
**/wheels
**/*.egg-info
